**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/dist
**/*.pem
Dockerfile
LICENSE
CODE_OF_CONDUCT.md
CONTRIBUTING.md
**/*.code-workspace